body {
    margin: 0px auto;
    background-color: #d0c7e2;
}
@media screen and (min-width: 1280px) and (max-width: 1600px){
    form {
        background: #fffdfd;
        width: 500px;height: 460px; /* Размеры */ /* Цвет фона */
        margin-top: 90px;
        outline: 2px solid #691b99; /* Чёрная рамка */
        margin-left: 410px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
    form {
        background: #fffdfd;
        width: 500px;
        height: 460px; /* Размеры */ /* Цвет фона */
        margin-top: 140px;
        outline: 2px solid #691b99;
        margin-left: 450px;
    }
}

#name {
    color: #d2aff9; /* Цвет текста */
    border: solid 1px #9700ff;
    height: 40px; /*ширина поля*/
    margin-top: 50px; /*отступ сверху*/
    width: 70%; /*размер поля по горизонтали */
    margin-left: 70px; /*отступ поля слева */
    font:icon;
    font-size:20px;
}

span{
    font-family: Arial, serif;
    color: #691b99; /* Цвет текста */
    left: 60em;
    font-size: 30px;
    margin-left: 140px; /*отступ поля слева */
    margin-top: -10px;
}

#password{
    color: black; /* Цвет текста */
    border: solid 1px #9700ff;
    height: 40px; /*ширина поля*/
    margin-top: 20px; /*отступ сверху*/
    width: 70%; /*размер поля по горизонтали */
    margin-left: 70px; /*отступ поля слева */
    font:icon;
    font-size:20px;
}

#RePassword{
    color: black; /* Цвет текста */
    border: solid 1px #9700ff;
    height: 40px; /*ширина поля*/
    margin-top: 0px; /*отступ сверху*/
    width: 70%; /*размер поля по горизонтали */
    margin-left: 70px; /*отступ поля слева */
    font:icon;
    font-size:20px;
}

.inputField {
    background-color: #a566c7; /* Цвет фона */
    color: #fffdfd; /* Цвет текста */
    border: solid 1px #9700ff;
    height: 40px; /*ширина поля*/
    margin-top: 20px; /*отступ сверху*/
    width: 70%; /*размер поля по горизонтали */
    margin-left: 70px; /*отступ поля слева */
    font:icon;
    font-size:20px;
}