#food {
    width: 40px;
    height: 1px;
    background: red;
}

#household_goods{
    width: 40px;
    height: 1px;
    background: green;
}

#housing{
    width: 40px;
    height: 1px;
    background: blue;

}

#clothes{
    width: 40px;
    height: 1px;
    background: darkgreen;
}

#health{
    width: 40px;
    height: 1px;
    background: indigo;
}

#sport{
    width: 40px;
    height: 1px;
    background: #694db2;
}

#transport{
    width: 40px;
    height: 1px;
    background: thistle;
}

#entertainment{
    width: 40px;
    height: 1px;
    background: sandybrown;
}

#pets{
    width: 40px;
    height: 1px;
    background: salmon
}

#car{
    width: 40px;
    height: 1px;
    background: yellow
}

#present{
    width: 40px;
    height: 1px;
    background: palegoldenrod;
}

#other{
    width: 40px;
    height: 1px;
    background: lightblue;
}
#text_c{
    font-size: 20px;
    margin-left: 100%;
    margin-top: -7px;
}

table {
    font-family: Arial;
    font-size: 18px;
    text-align: left;
    border-spacing: 1px 0px;
    margin-left: 30%;
}

#can{
    margin-left: 65px;
    margin-top: 19px;
    width: 500px;
    display: block;
}

.text1{

    margin-left: 30%;
    font-size: 20px;
}

.name{
    margin-left: -55px;
}

#navbar ul {
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
}

#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar {
    height: 35px;
    background-color: #a566c7;
    padding-left: 25px;
    min-width: 470px;
}
#navbar li {
    float: left;
    position: relative;
    height: 100%;
    font-size: 20px;
}
#navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
#navbar ul li { float: none; }


#container {
    border-left: 570px solid #ffffff;
    background: #ffffff;
}



#col1 {
    width: 80px; float: left; margin-left: -138px; color: rgba(0, 0, 0, 0.97);
}
* HTML #col1 {
    margin-left: -200px;
}
#col2 {
    padding: 0px;
}
div.clear {
    clear: both;
}

