body {
    margin: 0px auto;
    background-color: #d0c7e2;
}

@media screen and (min-width: 1280px) and (max-width: 1599px){
    div {
        background: #fffdfd;
        width: 500px;height: 460px; /* Размеры */ /* Цвет фона */
        margin-top: 80px;
        outline: 2px solid #691b99; /* Чёрная рамка */
        margin-left: 410px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    div {
        background: white;
        width: 500px;
        height: 460px; /* Размеры */ /* Цвет фона */
        margin-top: 140px;
        outline: 2px solid #691b99; /* Чёрная рамка */
        margin-left: 450px;
    }
}

.username{
    color: black; /* Цвет текста */
    border: solid 1px #9700ff;
    height: 40px; /*ширина поля*/
    margin-top: 130px; /*отступ сверху*/
    width: 50%; /*размер поля по горизонтали */
    margin-left: 25%; /*отступ поля слева */
    font:icon;
    font-size:20px;
}

span{
    color: black; /* Цвет текста */
    font-size: 30px;
    margin-left: 100px; /*отступ поля слева */
    margin-top: -10px;
}
.info-text{
    color: black; /* Цвет текста */
    font-size: 30px;
    margin-left: 100px; /*отступ поля слева */
    margin-top: -10px;
}

.text{
    text-align: center;
    color: black; /* Цвет текста */ /*ширина поля*/
    margin-top: 15%; /*отступ сверху*/ /*размер поля по горизонтали */ /*отступ поля слева */
    font:icon;
    font-size:25px;
}

.recovery{
    background-color: #a566c7; /* Цвет фона */
    color: white; /* Цвет текста */
    height: 40px; /*ширина поля*/
    margin-top: 50px; /*отступ сверху*/
    width: 50%; /*размер поля по горизонтали */
    margin-left: 25%; /*отступ поля слева */
    font:icon;
    font-size:20px;
}

