body {
    background-color: #ece2ff;
    align: center;
}

#navbar ul {
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
}

#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar {
    height: 35px;
    background-color: #a566c7;
    padding-left: 25px;
    min-width: 470px;
}
#navbar li {
    float: left;
    position: relative;
    height: 100%;
    font-size: 20px;
}
#navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
#navbar ul li { float: none; }

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 19px;
    text-align: left;
    border-spacing: 1px 0px;
    margin: auto;
}

th, td:first-child {
    background: white;
    color: black;
    padding: 15px 15px;
    border-spacing: 10px 10px;
    border-bottom: 1px solid #a566c7;
}

.tittleName {
    font-size: 20px;
    border: solid 3px #a566c7;
}

.picture {
    text-align: center;
    margin-top: 250px;
}

th, td {
    background: white;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    border-bottom: 1px solid #a566c7;
}

td {
}

th:first-child, td:first-child {
    text-align: left;
}

.button_goals {
    background-color: #a566c7; /* Цвет фона */
    color: white; /* Цвет текста */
    border: solid 1px #d0c7e2;
    margin-left: 40%;
    height: 40px; /*ширина поля*/
    width: 15%; /*размер поля по горизонтали */
    font: icon;
    font-size: 20px;
}

