body {
    margin: 0px auto;
    background-color: #d0c7e2;
}

@media screen and (min-width: 1280px) and (max-width: 1599px){
    div {
        background: #fffdfd;
        width: 500px;height: 460px; /* Размеры */ /* Цвет фона */
        margin-top: 80px;
        outline: 2px solid #691b99; /* Чёрная рамка */
        margin-left: 410px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    div {
        background: white;
        width: 500px;
        height: 460px; /* Размеры */ /* Цвет фона */
        margin-top: 140px;
        outline: 2px solid #691b99; /* Чёрная рамка */
        margin-left: 450px;
    }
}

#name{
    font-family: Arial, serif;
    color: #691b99; /* Цвет текста */
    left: 60em;
    font-size: 30px;
    margin-left: 200px; /*отступ поля слева */
    margin-top: -10px;
}

.loginField {
    background-color: white; /* Цвет фона */
    color: black; /* Цвет текста */
    border: solid 1px #a566c7;
    position: fixed;
    margin-left: 480px;
    margin-top: -350px;
    height: 40px; /*ширина поля*/
    width: 25%; /*размер поля по горизонтали */
    font:icon;
    font-size: 17px;
}

.passwordField {
    background-color: white; /* Цвет фона */
    color: black; /* Цвет текста */
    border: solid 1px #a566c7;
    position: fixed;
    margin-left: 480px;
    margin-top: -270px;
    height: 40px; /*ширина поля*/
    width: 25%; /*размер поля по горизонтали */
    font:icon;
    font-size: 17px;
}

.inputField {
    background-color: #a566c7; /* Цвет фона */
    color: white; /* Цвет текста */
    border: solid 1px #d0c7e2;
    position: fixed;
    margin-left: 480px;
    margin-top: -190px;
    height: 40px; /*ширина поля*/
    width: 25%; /*размер поля по горизонтали */
    font:icon;
    font-size: 17px;
}

.registration{
    border: solid 1px #a566c7;
    background-color: white; /* Цвет фона */
    color: #a566c7; /* Цвет текста */
    font-size: 17px;
    position: fixed;
    margin-left: 480px;
    margin-top: -130px;
    height: 40px; /*ширина поля*/
    width: 25%; /*размер поля по горизонтали */
    font:icon;
    font-size: 17px;
}

.forgotPassword{
    font-size: 17px;
    position: fixed;
    margin-left: 480px;
    margin-top: -70px;
    height: 40px; /*ширина поля*/
    width: 25%; /*размер поля по горизонтали */
    font:icon;
    font-size: 17px;
    text-align: center;
}
A {
    color: #a566c7; /* Цвет ссылок */
}
A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}
a:hover {
    color: #988e8e; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}
