body {
    margin: 0px auto;
    background-color: #d0c7e2;
}
table {
    width: 600px; /* Ширина таблицы */
    border: 1px solid white; /* Рамка вокруг таблицы */
    background-color: white;
    margin: auto; /* Выравниваем таблицу по центру окна  */
}
td {
    text-align: center; /* Выравниваем текст по центру ячейки */
    font-size:20px;
}
