body {
    margin: 0px auto;
    background-color: #d0c7e2;
}

.picture{
    text-align: center;
    margin-top: 250px;
}

.text-center{
    text-align: center;
    font-family: Arial, serif;
    font-size: 21px;
}

.input{
    background-color: #a566c7; /* Цвет фона */
    color: white; /* Цвет текста */
    border: solid 1px #d0c7e2;
    position: fixed;
    margin-left: 42%;
    margin-top: 30px;
    height: 40px; /*ширина поля*/
    width: 15%; /*размер поля по горизонтали */
    font:icon;
    font-size: 20px;
}